$basecolor: #e3ce4f;
$basecolorred:#e92222;
body,
html {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    min-width: 370px;
}

:after,
:before {
    background-repeat: no-repeat!important
}

[class^=wrapper-],
[class*=" wrapper-"],
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

[hidden] {
    display: none;
}

* {
    font-family: 'Bull';
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #fff;
}

html {
    background: #03090f;
    color: #fff;
    font-size: 16px;
}

.content {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

p a,
li a {
    text-decoration: underline;
}

.center {
    text-align: center;
}

a,
button,
img,
i,
.more {
    transition: all .3s;
}

span {
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 10px 0;
    line-height: 1.6rem;
}

h1 {
    font-size: 2.375rem;
    text-transform: uppercase;
    color: $basecolor;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin: 50px 0 20px;
    font-weight: bold;
    line-height: 2.5rem;
}

span {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

b,
strong {
    font-weight: bold;
    font-size: inherit;
}

p:empty {
    padding: 10px 0;
}