@font-face {
    font-family: 'Bull';
    src: url('../fonts/BullText-Bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Bull';
    src: url('../fonts/BullText-Regular.woff2');
    font-weight: normal;
}