footer {
    padding: 40px 0 20px;
    background-color: #000;
}

.logo-footer {
    img {
        margin-bottom: 20px;
    }
    p {
        font-size: 0.875rem;
    }
}

.wrapper-footer {
    align-items: flex-start;
}

.wrapper-footer-menu {
    align-items: flex-start;
    ul {
        min-width: 220px;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
        display: block;
    }
    a:hover {
        color: $basecolor;
    }
    li {
        list-style: none;
    }
}

.follow-us {
    p {
        font-size: 0.875rem;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
}

.wrapper-links {
    a+a {
        margin-left: 18px;
    }
    .icon {
        fill: #fff;
    }
    a:hover .icon {
        fill: $basecolor;
    }
}

nav#main-nav {
    display: none;
}

@media all and (max-width:1024px) {
    .wrapper-footer-menu {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
    }
    .wrapper-footer-menu {
        ul {
            min-width: initial;
        }
        ul:last-child {
            text-align: right;
        }
    }
    .wrapper-footer .follow-us {
        text-align: right;
    }
    .logo-footer img {
        margin-bottom: 10px;
        width: 70px;
    }
    .logo-footer p {
        margin: 0;
    }
    .wrapper-footer {
        align-items: flex-end;
    }
}

@media all and (max-width:500px) {}