@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import './core';
@import './lazyload';
@import './animate';
@import './theme.default';
@import './theme';
@import './video';
@import './base';
@import './cap';
@import './all';
@import './footer';
@import './forms';